body {
    width: red 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

table {
    margin-top: 16px;
    width: 100%;
}
th {
    background-color: gray;
}